<ul class="scrivito-linklist-widget <%= widget.styles.join(' ') %> <%= widget.show_in_row? ? 'clearfix list-inline' : '' %> <%= widget.show_as_css? ? 'list-with-css' : '' %>">
  <% if widget.links.empty? %>
    <div class="alert alert-warning">No links. Add one in the details view.</div>
  <% end %>
  <% widget.links.each do |link| %>
    <%= render('linklist_widget/element', link: link, widget: widget) %>
  <% end %>
</ul>
