<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-image"></span>
  </div>

  <div class="title">
    Linklist Widget
  </div>

  <div class="description">
    Create a Linklist for your page.
  </div>
</div>
